<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="powerAttack" class="org.asciicerebrum.mydndgame.Feat">
        <property name="id" value="powerAttack" />
        <property name="observers">
            <list>
                <bean class="org.asciicerebrum.mydndgame.AddBonusObserver">
                    <property name="hook" value="MELEE_ATTACK" />
                    <property name="bonusType" ref="powerAttackBonus" />
                    <property name="registryKey" value="powerAttackValue" />
                    <property name="bonusTarget" ref="meleeAttack" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="weaponFinesse" class="org.asciicerebrum.mydndgame.Feat">
        <property name="id" value="weaponFinesse" />
    </bean>

</beans>
