<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="applicationContextProvider" class="org.asciicerebrum.mydndgame.infrastructure.ApplicationContextProvider"></bean>
    
    <!-- d20 rule entity beans -->
    <import resource="applicationContext-dice.xml"/>
    <import resource="applicationContext-diceAction.xml"/>
    <import resource="applicationContext-bonusTypes.xml"/>
    <import resource="applicationContext-boni.xml"/>
    <import resource="applicationContext-sizeCategories.xml"/>
    <import resource="applicationContext-abilities.xml"/>
    <import resource="applicationContext-conditionTypes.xml"/>
    <import resource="applicationContext-characterClasses.xml"/>
    <import resource="applicationContext-weaponSpecialAbilities.xml"/>
    <import resource="applicationContext-armorSpecialAbilities.xml"/>
    <import resource="applicationContext-races.xml"/>
    <import resource="applicationContext-feats.xml"/>

    <!-- game entities -->
    <import resource="applicationContext-weapons.xml"/>
    <import resource="applicationContext-armor.xml"/>
    <import resource="applicationContext-dndCharacter.xml"/>
    <import resource="applicationContext-campaign.xml"/>

    <!-- facades -->
    <import resource="applicationContext-facades.xml" />
    <!-- mechanics -->
    <import resource="applicationContext-mechanics.xml" />
    <!-- services -->
    <import resource="applicationContext-services.xml" />
    <!-- factories -->
    <import resource="applicationContext-factories.xml" />
    <!-- dynamic value providers -->
    <import resource="applicationContext-dynamicValueProvider.xml" />
            
</beans>