<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <!-- Damage types -->
    <bean id="slashing" class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageType">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="slashing" />
            </bean>
        </property>
    </bean>
    <bean id="piercing" class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageType">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="piercing" />
            </bean>
        </property>
    </bean>
    <bean id="bludgeoning" class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageType">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="bludgeoning" />
            </bean>
        </property>
    </bean>
    <bean id="bludgeoningAndPiercing" class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageType">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="bludgeoningAndPiercing" />
            </bean>
        </property>
        <property name="compoundDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="bludgeoning" />
                        <ref bean="piercing" />
                    </list>
                </property>
            </bean>
        </property>
    </bean>    
                
    <!-- Encumbrances -->
    <bean id="light" class="org.asciicerebrum.neocortexengine.domain.ruleentities.Encumbrance">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="light" />
            </bean>
        </property>
    </bean>
    <bean id="oneHanded" class="org.asciicerebrum.neocortexengine.domain.ruleentities.Encumbrance">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="oneHanded" />
            </bean>
        </property>
    </bean>
    <bean id="twoHanded" class="org.asciicerebrum.neocortexengine.domain.ruleentities.Encumbrance">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="twoHanded" />
            </bean>
        </property>
    </bean>

    <!-- Proficiencies -->
    <bean id="simpleWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.Proficiency">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="simpleWeapon" />
            </bean>
        </property>
    </bean>
    <bean id="martialWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.Proficiency">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="martialWeapon" />
            </bean>
        </property>
    </bean>
    <bean id="exoticWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.Proficiency">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="exoticWeapon" />
            </bean>
        </property>
    </bean>

    <!-- Weapon Categories -->
    <bean id="meleeWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategory">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="meleeWeapon" />
            </bean>
        </property>
        <property name="associatedAttackDiceAction" ref="meleeAttack" />
        <property name="associatedDamageHook" value="MELEE_DAMAGE" />
        <property name="associatedAttackHook" value="MELEE_ATTACK" />
    </bean>
    <bean id="rangedWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategory">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="rangedWeapon" />
            </bean>
        </property>
        <property name="associatedAttackDiceAction" ref="rangedAttack" />
        <property name="associatedDamageHook" value="RANGED_DAMAGE" />
        <property name="associatedAttackHook" value="RANGED_ATTACK" />
    </bean>
    
    <!-- Weapon Types -->
    <bean id="thrownWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponType">
        <property name="uniqueId">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.UniqueId">
                <constructor-arg value="thrownWeapon" />
            </bean>
        </property>
    </bean>
                                                                                                                                                
    <!-- Weapon prototypes -->
    
    <!-- all common settings of weapon prototypes go here -->
    <bean id="protoWeapon" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype">
        <property name="criticalFactor">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalFactor">
                <constructor-arg value="2" />
            </bean>
        </property>
    </bean>
    
    <bean id="longsword" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="longsword" />
            </bean>
        </property>
        <property name="baseCost">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Cost">
                <constructor-arg value="15" />
            </bean>
        </property>
        <property name="baseWeight">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Weight">
                <constructor-arg value="4" />
            </bean>                
        </property>
        <property name="baseSize" ref="medium" />
        <property name="baseDamage">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DiceAction" parent="damage">
                <property name="diceNumber">
                    <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.DiceNumber">
                        <constructor-arg value="1" />
                    </bean>
                </property>                    
                <property name="diceType" ref="d8" />
            </bean>
        </property>
        <property name="criticalMinimumLevel">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalMinimumLevel">
                <constructor-arg value="19" />
            </bean>
        </property>
        <property name="defaultDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="slashing" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="encumbrance" ref="oneHanded" />
        <property name="proficiency" ref="martialWeapon" />
        <property name="defaultCategories">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategories">
                <property name="weaponCategories">
                    <list>
                        <ref bean="meleeWeapon" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="defaultAttackMode" ref="meleeWeapon" />
        <property name="designatedBodySlotTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.BodySlotTypes">
                <property name="bodySlotTypes">
                    <list>
                        <ref bean="primaryHand" />
                        <ref bean="secondaryHand" />
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="battleaxe" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="battleaxe" />
            </bean>
        </property>
        <property name="baseCost">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Cost">
                <constructor-arg value="10" />
            </bean>
        </property>
        <property name="baseWeight">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Weight">
                <constructor-arg value="6" />
            </bean>                
        </property>
        <property name="baseSize" ref="medium" />
        <property name="baseDamage">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DiceAction" parent="damage">
                <property name="diceNumber">
                    <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.DiceNumber">
                        <constructor-arg value="1" />
                    </bean>
                </property>                    
                <property name="diceType" ref="d8" />
            </bean>
        </property>
        <property name="criticalFactor">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalFactor">
                <constructor-arg value="3" />
            </bean>
        </property>
        <property name="defaultDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="slashing" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="encumbrance" ref="oneHanded" />
        <property name="proficiency" ref="martialWeapon" />
        <property name="defaultCategories">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategories">
                <property name="weaponCategories">
                    <list>
                        <ref bean="meleeWeapon" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="defaultAttackMode" ref="meleeWeapon" />
        <property name="designatedBodySlotTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.BodySlotTypes">
                <property name="bodySlotTypes">
                    <list>
                        <ref bean="primaryHand" />
                        <ref bean="secondaryHand" />
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="rapier" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="rapier" />
            </bean>
        </property>
        <property name="baseCost">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Cost">
                <constructor-arg value="20" />
            </bean>
        </property>
        <property name="baseWeight">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Weight">
                <constructor-arg value="2" />
            </bean>                
        </property>
        <property name="baseSize" ref="medium" />
        <property name="baseDamage">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DiceAction" parent="damage">
                <property name="diceNumber">
                    <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.DiceNumber">
                        <constructor-arg value="1" />
                    </bean>
                </property>                    
                <property name="diceType" ref="d6" />
            </bean>
        </property>
        <property name="criticalMinimumLevel">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalMinimumLevel">
                <constructor-arg value="18" />
            </bean>
        </property>
        <property name="defaultDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="piercing" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="encumbrance" ref="oneHanded" />
        <property name="proficiency" ref="martialWeapon" />
        <property name="defaultCategories">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategories">
                <property name="weaponCategories">
                    <list>
                        <ref bean="meleeWeapon" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="defaultAttackMode" ref="meleeWeapon" />
        <property name="designatedBodySlotTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.BodySlotTypes">
                <property name="bodySlotTypes">
                    <list>
                        <ref bean="primaryHand" />
                        <ref bean="secondaryHand" />
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="dagger" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="dagger" />
            </bean>
        </property>
        <property name="baseCost">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Cost">
                <constructor-arg value="2" />
            </bean>
        </property>
        <property name="baseWeight">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Weight">
                <constructor-arg value="1" />
            </bean>                
        </property>
        <property name="baseSize" ref="medium" />
        <property name="baseDamage">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DiceAction" parent="damage">
                <property name="diceNumber">
                    <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.DiceNumber">
                        <constructor-arg value="1" />
                    </bean>
                </property>                    
                <property name="diceType" ref="d4" />
            </bean>
        </property>
        <property name="criticalMinimumLevel">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalMinimumLevel">
                <constructor-arg value="19" />
            </bean>
        </property>
        <property name="rangeIncrement">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.RangeIncrement">
                <constructor-arg value="10" />
            </bean>
        </property>
        <property name="defaultDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="piercing" />
                        <ref bean="slashing" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="encumbrance" ref="light" />
        <property name="proficiency" ref="simpleWeapon" />
        <property name="defaultCategories">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategories">
                <property name="weaponCategories">
                    <list>
                        <ref bean="meleeWeapon" />
                        <ref bean="rangedWeapon" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="defaultAttackMode" ref="meleeWeapon" />
        <property name="designatedBodySlotTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.BodySlotTypes">
                <property name="bodySlotTypes">
                    <list>
                        <ref bean="primaryHand" />
                        <ref bean="secondaryHand" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="weaponTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponTypes">
                <property name="weaponTypes">
                    <list>
                        <ref bean="thrownWeapon" />
                    </list>
                </property>
            </bean>            
        </property>
    </bean>

    <bean id="whip" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="whip" />
            </bean>
        </property>
    </bean>
    
    <bean id="spikedChain" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="spikedChain" />
            </bean>
        </property>
    </bean>

    <bean id="club" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="club" />
            </bean>
        </property>
    </bean>
    
    <bean id="dart" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="dart" />
            </bean>
        </property>
        <property name="weaponTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponTypes">
                <property name="weaponTypes">
                    <list>
                        <ref bean="thrownWeapon" />
                    </list>
                </property>
            </bean>            
        </property>
    </bean>
    
    <bean id="quarterstaff" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="quarterstaff" />
            </bean>
        </property>
    </bean>
    
    <bean id="sling" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" scope="prototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="sling" />
            </bean>
        </property>
        <property name="specialAbilities">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.SpecialAbilities">
                <property name="specialAbilities">
                    <list>
                        <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.SpecialAbility">
                            <property name="boni">
                                <bean class="org.asciicerebrum.neocortexengine.domain.mechanics.bonus.Boni">
                                    <constructor-arg>
                                        <list>
                                            <bean class="org.asciicerebrum.neocortexengine.domain.mechanics.bonus.Bonus">
                                                <property name="bonusType" ref="strBonus" />
                                                <property name="target" ref="damage" />
                                                <property name="dynamicValueProvider" ref="strAbilityBonusValueProvider" />
                                            </bean>
                                        </list>
                                    </constructor-arg>
                                </bean>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="longbow" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="longbow" />
            </bean>
        </property>
        <property name="baseCost">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Cost">
                <constructor-arg value="75" />
            </bean>
        </property>
        <property name="baseWeight">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Weight">
                <constructor-arg value="3" />
            </bean>                
        </property>
        <property name="baseSize" ref="medium" />
        <property name="baseDamage">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DiceAction" parent="damage">
                <property name="diceNumber">
                    <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.DiceNumber">
                        <constructor-arg value="1" />
                    </bean>
                </property>                    
                <property name="diceType" ref="d8" />
            </bean>
        </property>
        <property name="criticalFactor">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalFactor">
                <constructor-arg value="3" />
            </bean>
        </property>
        <property name="rangeIncrement">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.RangeIncrement">
                <constructor-arg value="100" />
            </bean>
        </property>
        <property name="defaultDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="piercing" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="proficiency" ref="martialWeapon" />
        <property name="defaultCategories">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategories">
                <property name="weaponCategories">
                    <list>
                        <ref bean="rangedWeapon" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="defaultAttackMode" ref="rangedWeapon" />
        <property name="designatedBodySlotTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.BodySlotTypes">
                <property name="bodySlotTypes">
                    <list>
                        <ref bean="primaryHand" />
                        <ref bean="secondaryHand" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="specialAbilities">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.SpecialAbilities">
                <property name="specialAbilities">
                    <list>
                        <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.SpecialAbility">
                            <property name="boni">
                                <bean class="org.asciicerebrum.neocortexengine.domain.mechanics.bonus.Boni">
                                    <constructor-arg>
                                        <list>
                                            <bean class="org.asciicerebrum.neocortexengine.domain.mechanics.bonus.Bonus">
                                                <property name="bonusType" ref="strBonus" />
                                                <property name="target" ref="damage" />
                                                <property name="dynamicValueProvider" ref="strAbilityBonusValueProvider" />
                                                <property name="conditionEvaluator">
                                                    <!--bonus applies only when negative-->
                                                    <bean class="org.asciicerebrum.neocortexengine.mechanics.conditionevaluators.impl.BonusValueComparisonEvaluator">
                                                        <property name="bonusValueProvider" ref="strAbilityBonusValueProvider" />
                                                        <property name="comparator" value="LT" /><!-- Enum defined in this class: LT, LE, EQ, GE, GT -->
                                                        <property name="referenceValue">
                                                            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.BonusValue">
                                                                <constructor-arg value="0" />
                                                            </bean>
                                                        </property>
                                                    </bean>
                                                </property>
                                            </bean>
                                        </list>
                                    </constructor-arg>
                                </bean>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>

    <bean id="bastardsword" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="bastardsword" />
            </bean>
        </property>
        <property name="baseCost">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Cost">
                <constructor-arg value="35" />
            </bean>
        </property>
        <property name="baseWeight">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.Weight">
                <constructor-arg value="6" />
            </bean>                
        </property>
        <property name="baseSize" ref="medium" />
        <property name="baseDamage">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DiceAction" parent="damage">
                <property name="diceNumber">
                    <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.DiceNumber">
                        <constructor-arg value="1" />
                    </bean>
                </property>                    
                <property name="diceType" ref="d8" />
            </bean>
        </property>
        <property name="criticalMinimumLevel">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.CriticalMinimumLevel">
                <constructor-arg value="19" />
            </bean>
        </property>
        <property name="defaultDamageTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.DamageTypes">
                <property name="damageTypes">
                    <list>
                        <ref bean="slashing" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="encumbrance" ref="oneHanded" />
        <property name="proficiency" ref="exoticWeapon" />
        <property name="defaultCategories">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponCategories">
                <property name="weaponCategories">
                    <list>
                        <ref bean="meleeWeapon" />
                    </list>
                </property>
            </bean>
        </property>
        <property name="defaultAttackMode" ref="meleeWeapon" />
        <property name="designatedBodySlotTypes">
            <bean class="org.asciicerebrum.neocortexengine.domain.ruleentities.BodySlotTypes">
                <property name="bodySlotTypes">
                    <list>
                        <ref bean="primaryHand" />
                        <ref bean="secondaryHand" />
                    </list>
                </property>
            </bean>
        </property>
    </bean>
    
    <bean id="sap" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="sap" />
            </bean>
        </property>
    </bean>
    <bean id="shortbow" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="shortbow" />
            </bean>
        </property>
    </bean>
    <bean id="shortsword" class="org.asciicerebrum.neocortexengine.domain.ruleentities.WeaponPrototype" parent="protoWeapon">
        <property name="genericName">
            <bean class="org.asciicerebrum.neocortexengine.domain.core.particles.GenericName">
                <constructor-arg value="shortsword" />
            </bean>
        </property>
    </bean>
    
    <!-- all common settings of weapons go here -->
    <bean id="weaponPrototype" class="org.asciicerebrum.neocortexengine.domain.game.Weapon" scope="prototype"></bean>
    
    <!--1.5 times str bonus for damage when wielded in two hands does not apply.-->
    <util:list id="twoHandDamageBonusMultiplicationExceptionWeapons" value-type="org.asciicerebrum.neocortexengine.domain.ruleentities.InventoryItemPrototype">
        <ref bean="rapier" />
    </util:list>
                
</beans>
