<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- masterwork for armor: Such a well-made item functions like the normal version, except that its armor check penalty is lessened by 1.
    A masterwork suit of armor or shield costs an extra 150 gp over and above the normal cost for that type of armor or shield. 
    The masterwork quality of a suit of armor or shield never provides a bonus on attack or damage rolls, even if the armor or shield is used as a weapon.  -->

    <bean id="masterworkArmor" class="org.asciicerebrum.mydndgame.ArmorSpecialAbility">
        <property name="id">
            <bean class="org.asciicerebrum.mydndgame.domain.core.particles.UniqueId">
                <constructor-arg value="masterworkArmor" />
            </bean>
        </property>
        <property name="observers">
            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.observer.Observers">
                <constructor-arg>
                    <list>
                        <bean class="org.asciicerebrum.mydndgame.domain.mechanics.observer.Observer">
                            <property name="hook" value="PRICE" />
                            <!-- The masterwork quality adds 150 gp to the cost of a normal armor -->
                            <bean class="org.asciicerebrum.mydndgame.mechanics.observertriggers.SimpleArithmeticObserverTrigger">
                                <property name="modValue">
                                    <bean class="org.asciicerebrum.mydndgame.domain.core.particles.LongParticle">
                                        <constructor-arg value="150" />
                                    </bean>
                                </property>
                                <property name="operation" value="ADDITION" />
                            </bean>
                        </bean>
                        <bean class="org.asciicerebrum.mydndgame.domain.mechanics.observer.Observer">
                            <property name="hook" value="ARMOR_CHECK_PENALTY" />
                            <bean class="org.asciicerebrum.mydndgame.mechanics.observertriggers.SimpleArithmeticObserverTrigger">
                                <property name="modValue">
                                    <bean class="org.asciicerebrum.mydndgame.domain.core.particles.LongParticle">
                                        <constructor-arg value="1" />
                                    </bean>
                                </property>
                                <property name="operation" value="ADDITION" />
                            </bean>
                        </bean>
                    </list>
                </constructor-arg>
            </bean>
        </property>        
    </bean>

</beans>
