<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="hp" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="hp" />
    </bean>

    <bean id="damage" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="damage" />
    </bean>

    <bean id="ac" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="ac" />
    </bean>

    <bean id="acBase" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="acBase" />
        <property name="constValue" value="10" />
    </bean>
    
    <bean id="attack" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="attack" />
        <property name="diceNumber" value="1" />
        <property name="diceType" ref="d20" />
    </bean>

    <bean id="touchAttack" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="attack" />
        <property name="diceNumber" value="1" />
        <property name="diceType" ref="d20" />
        <property name="targetObservers">
            <list>
                <!-- When you are the target of a touch attack, your AC doesn’t include any armor bonus, shield bonus, or natural armor bonus. -->
                <bean class="org.asciicerebrum.mydndgame.observers.RemoveBonusObserver">
                    <property name="hook" value="AC" />
                    <property name="removeBonus">
                        <bean class="org.asciicerebrum.mydndgame.Bonus">
                            <property name="bonusType" ref="armorBonus" />
                            <property name="target" ref="acBase" />
                        </bean>
                    </property>
                    <property name="resemblanceFacets">
                        <list>
                            <value>BONUS_TYPE</value>
                            <value>TARGET</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.asciicerebrum.mydndgame.observers.RemoveBonusObserver">
                    <property name="hook" value="AC" />
                    <property name="removeBonus">
                        <bean class="org.asciicerebrum.mydndgame.Bonus">
                            <property name="bonusType" ref="shieldBonus" />
                            <property name="target" ref="acBase" />
                        </bean>
                    </property>
                    <property name="resemblanceFacets">
                        <list>
                            <value>BONUS_TYPE</value>
                            <value>TARGET</value>
                        </list>
                    </property>
                </bean>
                <bean class="org.asciicerebrum.mydndgame.observers.RemoveBonusObserver">
                    <property name="hook" value="AC" />
                    <property name="removeBonus">
                        <bean class="org.asciicerebrum.mydndgame.Bonus">
                            <property name="bonusType" ref="naturalArmorBonus" />
                            <property name="target" ref="acBase" />
                        </bean>
                    </property>
                    <property name="resemblanceFacets">
                        <list>
                            <value>BONUS_TYPE</value>
                            <value>TARGET</value>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
   
    <bean id="meleeAttack" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="meleeAttack" />
        <property name="diceNumber" value="1" />
        <property name="diceType" ref="d20" />
        <property name="associatedAttackMode" ref="meleeWeapon" />
        <property name="associatedHook" value="MELEE_ATTACK" />
    </bean>
    
    <bean id="rangedAttack" class="org.asciicerebrum.mydndgame.DiceAction">
        <property name="id" value="rangedAttack" />
        <property name="diceNumber" value="1" />
        <property name="diceType" ref="d20" />
        <property name="associatedAttackMode" ref="rangedWeapon" />
        <property name="associatedHook" value="RANGED_ATTACK" />
    </bean>                                                                                                  
</beans>
