<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="flatFooted" class="org.asciicerebrum.mydndgame.ConditionType">
        <property name="id" value="flatFooted" />
        <property name="observers">
            <list>
                <!-- You can’t use your Dexterity bonus to AC (if any) while flat-footed.
                Any situation that denies you your Dexterity bonus also denies you dodge bonuses.
                But a dexterity penalty still applies! -->
                <bean class="org.asciicerebrum.mydndgame.observers.RemoveBonusObserver">
                    <property name="hook" value="AC" />
                    <property name="removeBonus">
                        <bean class="org.asciicerebrum.mydndgame.Bonus">
                            <property name="bonusType" ref="dexBonus" />
                            <property name="target" ref="acBase" />
                        </bean>
                    </property>
                    <property name="resemblanceFacets">
                        <list>
                            <value>BONUS_TYPE</value>
                            <value>TARGET</value>
                        </list>
                    </property>
                    <property name="conditionEvaluator">
                        <bean class="org.asciicerebrum.mydndgame.conditionevaluator.BonusValueComparisonEvaluator">
                            <property name="bonusValueProvider" ref="dexAbilityBonusValueProvider" />
                            <property name="comparator" value="GE" />
                            <property name="referenceValue" value="0" />
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>
