<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="str" class="org.asciicerebrum.mydndgame.Ability">
        <property name="id" value="str" />
        <property name="name" value="strength" />
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="strBonus" />
                    <property name="target" ref="meleeAttack" />
                    <property name="dynamicValueProvider" ref="strAbilityBonusValueProvider" />
                </bean>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="strBonus" />
                    <property name="target" ref="damage" />
                    <property name="dynamicValueProvider" ref="strAbilityBonusValueProvider" />
                    <property name="conditionEvaluator">
                        <bean class="org.asciicerebrum.mydndgame.conditionevaluator.OrListEvaluator">
                            <property name="conditionEvaluators">
                                <list>
                                    <bean class="org.asciicerebrum.mydndgame.conditionevaluator.CorrectAttackModeEvaluator"><!-- Better use the attack mode??? hit someone with bow - bow used as melee weapon! -->
                                        <property name="weaponCategory" ref="meleeWeapon" />
                                    </bean>
                                    <bean class="org.asciicerebrum.mydndgame.conditionevaluator.CorrectWeaponTypeEvaluator">
                                        <property name="weaponType" ref="thrownWeapon" />
                                    </bean>
                                </list>
                            </property>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    <bean id="dex" class="org.asciicerebrum.mydndgame.Ability">
        <property name="id" value="dex" />
        <property name="name" value="dexterity" />
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="dexBonus" />
                    <property name="target" ref="ac" />
                    <property name="dynamicValueProvider" ref="dexAbilityBonusValueProvider" />
                </bean>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="dexBonus" />
                    <property name="target" ref="rangedAttack" />
                    <property name="dynamicValueProvider" ref="dexAbilityBonusValueProvider" />
                </bean>
            </list>
        </property>
    </bean>
    <bean id="con" class="org.asciicerebrum.mydndgame.Ability">
        <property name="id" value="con" />
        <property name="name" value="constitution" />
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="conBonus" />
                    <property name="target" ref="hp" />
                    <property name="dynamicValueProvider" ref="conAbilityBonusValueProvider" />
                </bean>
            </list>
        </property>
    </bean>
    <bean id="int" class="org.asciicerebrum.mydndgame.Ability">
        <property name="id" value="int" />
        <property name="name" value="intelligence" />
    </bean>
    <bean id="wis" class="org.asciicerebrum.mydndgame.Ability">
        <property name="id" value="wis" />
        <property name="name" value="wisdom" />
    </bean>
    <bean id="cha" class="org.asciicerebrum.mydndgame.Ability">
        <property name="id" value="cha" />
        <property name="name" value="charisma" />
    </bean>    
</beans>
