<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="nonproficiencyPenaltyBonus" class="org.asciicerebrum.mydndgame.Bonus" scope="prototype">
        <property name="bonusType" ref="nonproficiencyPenalty" />
        <property name="target" ref="attack" />
        <property name="value" value="-4" />
    </bean>
    
    <bean id="armorsArmorCheckPenaltyBonus" class="org.asciicerebrum.mydndgame.Bonus" scope="prototype">
        <property name="bonusType" ref="armorsArmorCheckPenalty" />
        <property name="target" ref="attack" />
        <property name="dynamicValueProvider">
            <bean class="org.asciicerebrum.mydndgame.valueproviders.ArmorCheckPenaltyProvider">
                <property name="armorCategory" ref="armor" />
            </bean>
        </property>
        <property name="conditionEvaluator">
            <!-- armor worn -->
            <bean class="org.asciicerebrum.mydndgame.conditionevaluator.CorrectArmorCategoryWearingEvaluator">
                <property name="armorCategory" ref="armor" />
            </bean>
        </property>
    </bean>

    <bean id="shieldsArmorCheckPenaltyBonus" class="org.asciicerebrum.mydndgame.Bonus" scope="prototype">
        <property name="bonusType" ref="shieldsArmorCheckPenalty" />
        <property name="target" ref="attack" />
        <property name="dynamicValueProvider">
            <bean class="org.asciicerebrum.mydndgame.valueproviders.ArmorCheckPenaltyProvider">
                <property name="armorCategory" ref="shield" />
            </bean>
        </property>
        <property name="conditionEvaluator">
            <!-- shield worn -->
            <bean class="org.asciicerebrum.mydndgame.conditionevaluator.CorrectArmorCategoryWearingEvaluator">
                <property name="armorCategory" ref="shield" />
            </bean>
        </property>
    </bean>

</beans>
