<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="nonproficiencyPenaltyBonus" class="org.asciicerebrum.mydndgame.domain.mechanics.bonus.Bonus" scope="prototype">
        <property name="bonusType" ref="nonproficiencyPenalty" />
        <property name="target" ref="attack" />
        <property name="values">
            <bean class="org.asciicerebrum.mydndgame.domain.core.particles.BonusValueTuple">
                <constructor-arg>
                    <bean class="org.asciicerebrum.mydndgame.domain.core.particles.BonusValue">
                        <constructor-arg value="-4" />
                    </bean>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="armorsArmorCheckPenaltyBonus" class="org.asciicerebrum.mydndgame.domain.mechanics.bonus.Bonus" scope="prototype">
        <property name="bonusType" ref="armorsArmorCheckPenalty" />
        <property name="target" ref="attack" />
        <property name="dynamicValueProvider">
            <bean class="org.asciicerebrum.mydndgame.mechanics.valueproviders.ArmorCheckPenaltyProvider">
                <property name="armorCategory" ref="armor" />
                <property name="armorFacade" ref="armorServiceFacade" />
                <property name="characterServiceFacade" ref="characterServiceFacade" />
            </bean>
        </property>
        <property name="conditionEvaluator">
            <!-- armor worn -->
            <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.CorrectArmorCategoryWearingEvaluator">
                <property name="armorCategory" ref="armor" />
                <property name="characterServiceFacade" ref="characterServiceFacade" />
            </bean>
        </property>
    </bean>

    <bean id="shieldsArmorCheckPenaltyBonus" class="org.asciicerebrum.mydndgame.domain.mechanics.bonus.Bonus" scope="prototype">
        <property name="bonusType" ref="shieldsArmorCheckPenalty" />
        <property name="target" ref="attack" />
        <property name="dynamicValueProvider">
            <bean class="org.asciicerebrum.mydndgame.mechanics.valueproviders.ArmorCheckPenaltyProvider">
                <property name="armorCategory" ref="shield" />
                <property name="armorFacade" ref="armorServiceFacade" />
                <property name="characterServiceFacade" ref="characterServiceFacade" />
            </bean>
        </property>
        <property name="conditionEvaluator">
            <!-- shield worn -->
            <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.CorrectArmorCategoryWearingEvaluator">
                <property name="armorCategory" ref="shield" />
                <property name="characterServiceFacade" ref="characterServiceFacade" />
            </bean>
        </property>
    </bean>

</beans>
