<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
    
    <bean id="meleeSingleAttack" class="org.asciicerebrum.mydndgame.domain.mechanics.workflow.InteractionType">
        <property name="id">
            <bean class="org.asciicerebrum.mydndgame.domain.core.particles.UniqueId">
                <constructor-arg value="meleeSingleAttack" />
            </bean>
        </property>
        <property name="workflows">
            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.workflow.Workflows">
                <constructor-arg>
                    <array>
                        <ref bean="singleAttackWorkflow" />
                    </array>
                </constructor-arg>
            </bean>
        </property>
    </bean>

    <bean id="endTurn" class="org.asciicerebrum.mydndgame.domain.mechanics.workflow.InteractionType">
        <property name="id">
            <bean class="org.asciicerebrum.mydndgame.domain.core.particles.UniqueId">
                <constructor-arg value="endTurn" />
            </bean>
        </property>
        <property name="workflows">
            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.workflow.Workflows">
                <constructor-arg>
                    <array>
                        <ref bean="endTurnWorkflow" />
                    </array>
                </constructor-arg>
            </bean>
        </property>
    </bean>

</beans>