<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- service infrastructure beans -->
    <bean id="observableDelegate"
          class="org.asciicerebrum.mydndgame.DefaultObservableDelegate" />

    <bean id="bonusCalculationService"
              class="org.asciicerebrum.mydndgame.DefaultBonusCalculationServiceImpl" />

    <bean id="strAbilityBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AbilityBonusValueProvider">
        <property name="ability" ref="str" />
    </bean>
    <bean id="dexAbilityBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AbilityBonusValueProvider">
        <property name="ability" ref="dex" />
    </bean>
    <bean id="conAbilityBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AbilityBonusValueProvider">
        <property name="ability" ref="con" />
    </bean>
    <bean id="rank0AtkBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AtkBonusValueProvider">
        <property name="rank" value="0" />
    </bean>
    <bean id="rank1AtkBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AtkBonusValueProvider">
        <property name="rank" value="1" />
    </bean>
    <bean id="rank2AtkBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AtkBonusValueProvider">
        <property name="rank" value="2" />
    </bean>
    <bean id="rank3AtkBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AtkBonusValueProvider">
        <property name="rank" value="3" />
    </bean>
    <bean id="rank4AtkBonusValueProvider"
          class="org.asciicerebrum.mydndgame.AtkBonusValueProvider">
        <property name="rank" value="4" />
    </bean>

    <!-- d20 rule entity beans -->
    <import resource="applicationContext-dice.xml"/>
    <import resource="applicationContext-diceAction.xml"/>
    <import resource="applicationContext-bonusTypes.xml"/>
    <import resource="applicationContext-boni.xml"/>
    <import resource="applicationContext-sizeCategories.xml"/>
    <import resource="applicationContext-abilities.xml"/>
    <import resource="applicationContext-characterClasses.xml"/>
    <import resource="applicationContext-weaponSpecialAbilities.xml"/>
    <import resource="applicationContext-weapons.xml"/>
    <import resource="applicationContext-races.xml"/>
    <import resource="applicationContext-feats.xml"/>
    <import resource="applicationContext-dndCharacter.xml"/>
    
</beans>