<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="masterworkWeapon" class="org.asciicerebrum.mydndgame.WeaponSpecialAbility">
        <property name="id" value="masterworkWeapon" />
        <property name="boni">
            <list>
                <!-- Wielding it provides a +1 enhancement bonus on attack rolls. -->
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="enhancementBonus" />
                    <property name="value" value="1" />
                    <property name="target" ref="attack" />
                </bean>
            </list>
        </property>
        <property name="observers">
            <list>
                <!-- The masterwork quality adds 300 gp to the cost of a normal weapon. -->
                <bean class="org.asciicerebrum.mydndgame.observers.SimpleArithmeticObserver">
                    <property name="hook" value="PRICE" />
                    <property name="modValue" value="300" />
                    <property name="operation" value="ADDITION" />
                </bean>
            </list>
        </property>        
    </bean>
    
    <!-- TODO make ArmorSpecialAbilities for mwk -->
    <!-- TODO masterwork for armor: Such a well-made item functions like the normal version, except that its armor check penalty is lessened by 1.
    A masterwork suit of armor or shield costs an extra 150 gp over and above the normal cost for that type of armor or shield. 
    The masterwork quality of a suit of armor or shield never provides a bonus on attack or damage rolls, even if the armor or shield is used as a weapon.  -->

</beans>
