<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="powerAttack" class="org.asciicerebrum.mydndgame.Feat">
        <property name="id" value="powerAttack" />
        <property name="observers">
            <list>
                <bean class="org.asciicerebrum.mydndgame.observers.AddBonusObserver">
                    <property name="hook" value="MELEE_ATTACK" />
                    <property name="bonusType" ref="powerAttackBonus" />
                    <property name="registryKey" value="powerAttackValue" />
                    <property name="bonusTarget" ref="meleeAttack" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="weaponFinesse" class="org.asciicerebrum.mydndgame.Feat">
        <property name="id" value="weaponFinesse" />
        <property name="observers">
            <list>
                <bean class="org.asciicerebrum.mydndgame.observers.WeaponFinesseObserver">
                    <property name="hook" value="MELEE_ATTACK" />
                    <property name="registryKey" value="weaponFinesseMode" />
                    <property name="removeBonus">
                        <bean class="org.asciicerebrum.mydndgame.Bonus">
                            <property name="bonusType" ref="strBonus" />
                            <property name="target" ref="meleeAttack" />
                            <property name="dynamicValueProvider" ref="strAbilityBonusValueProvider" />
                        </bean>
                    </property>
                    <property name="replacementBonus">
                        <bean class="org.asciicerebrum.mydndgame.Bonus">
                            <property name="bonusType" ref="dexBonus" />
                            <property name="target" ref="meleeAttack" />
                            <property name="dynamicValueProvider" ref="dexAbilityBonusValueProvider" />
                        </bean>
                    </property>
                    <property name="validEncumbrance" ref="light" />
                    <property name="validWeaponPrototypes">
                        <list>
                            <ref bean="rapier" />
                            <ref bean="whip" />
                            <ref bean="spikedChain" />
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

</beans>
