<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <import resource="applicationContext-dice.xml"/>
    <import resource="applicationContext-diceAction.xml"/>
    <import resource="applicationContext-bonusTypes.xml"/>
    <import resource="applicationContext-sizeCategories.xml"/>
    <import resource="applicationContext-abilities.xml"/>
    <import resource="applicationContext-characterClasses.xml"/>
    <import resource="applicationContext-races.xml"/>
    
</beans>