<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dndCharacter" class="org.asciicerebrum.mydndgame.domain.game.DndCharacter" scope="prototype">

        <property name="prototypeSpecialAbilities">
            <bean class="org.asciicerebrum.mydndgame.domain.ruleentities.SpecialAbilities">
                <property name="specialAbilities">
                    <list>
                        <bean class="org.asciicerebrum.mydndgame.domain.ruleentities.SpecialAbility">
                            <property name="boni">
                                <bean class="org.asciicerebrum.mydndgame.domain.mechanics.bonus.Boni">
                                    <constructor-arg>
                                        <list>
                                            <ref bean="nonproficiencyPenaltyBonus" />
                                            <!-- non proficiency penalty for armor / shields: A character who is wearing armor with which she is not proficient applies its armor check penalty to attack rolls and to all skill checks that involve moving, including Ride. -->
                                            <ref bean="armorsArmorCheckPenaltyBonus" />
                                            <ref bean="shieldsArmorCheckPenaltyBonus" />
                                        </list>
                                    </constructor-arg>
                                </bean>
                            </property>
                        </bean>
                        <bean class="org.asciicerebrum.mydndgame.domain.ruleentities.SpecialAbility">
                            <property name="observers">
                                <bean class="org.asciicerebrum.mydndgame.domain.mechanics.observer.Observers">
                                    <property name="observers">
                                        <list>
                                            <!--1.5 times the bonus when wielded in two hands, except light weapon, only melee of course -->
                                            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.observer.Observer">
                                                <property name="hook" value="DAMAGE" />
                                                <property name="triggerStrategy">
                                                    <bean class="org.asciicerebrum.mydndgame.mechanics.observertriggers.BonusValueModificationObserverTrigger">
                                                        <property name="operation" value="MULTIPLICATION" />
                                                        <property name="modValue">
                                                            <bean class="org.asciicerebrum.mydndgame.domain.core.particles.DoubleParticle">
                                                                <constructor-arg value="1.5" />
                                                            </bean>
                                                        </property>
                                                        <property name="referenceBonus"><!-- The bonus to modify must resemble this one. -->
                                                            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.bonus.Bonus">
                                                                <property name="bonusType" ref="strBonus" />
                                                                <property name="target" ref="damage" />
                                                            </bean>
                                                        </property>
                                                        <property name="bonusService" ref="bonusCalculationService" />
                                                    </bean>
                                                </property>
                                                <property name="conditionEvaluator">
                                                    <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.AndListEvaluator">
                                                        <property name="conditionEvaluators">
                                                            <list>
                                                                <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.CorrectInventoryItemWieldingEvaluator">
                                                                    <property name="wieldingType" value="BOTH" /><!--use enums here for wielding type-->
                                                                </bean>
                                                                <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.NotEvaluator">
                                                                    <property name="conditionEvaluator">
                                                                        <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.CorrectWeaponEncumbranceEvaluator">
                                                                            <property name="encumbrance" ref="light" />
                                                                            <property name="weaponServiceFacade" ref="weaponServiceFacade" />
                                                                        </bean>
                                                                    </property>
                                                                </bean>
                                                                <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.CorrectAttackModeEvaluator">
                                                                    <property name="weaponCategory" ref="meleeWeapon" />
                                                                    <property name="situationContextService" ref="situationContextService" />
                                                                </bean>
                                                            </list>
                                                        </property>
                                                    </bean>
                                                </property>
                                            </bean>
                                            <!--0.5 times the bonus when wielded in secondary hand-->
                                            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.observer.Observer">
                                                <property name="hook" value="DAMAGE" />
                                                <property name="triggerStrategy">
                                                    <bean class="org.asciicerebrum.mydndgame.mechanics.observertriggers.BonusValueModificationObserverTrigger">
                                                        <property name="operation" value="MULTIPLICATION" />
                                                        <property name="modValue">
                                                            <bean class="org.asciicerebrum.mydndgame.domain.core.particles.DoubleParticle">
                                                                <constructor-arg value="0.5" />
                                                            </bean>
                                                        </property>
                                                        <property name="referenceBonus"><!-- The bonus to modify must resemble this one. -->
                                                            <bean class="org.asciicerebrum.mydndgame.domain.mechanics.bonus.Bonus">
                                                                <property name="bonusType" ref="strBonus" />
                                                                <property name="target" ref="damage" />
                                                            </bean>
                                                        </property>
                                                        <property name="bonusService" ref="bonusCalculationService" />
                                                    </bean>
                                                </property>
                                                <property name="conditionEvaluator">
                                                    <bean class="org.asciicerebrum.mydndgame.mechanics.conditionevaluators.impl.CorrectInventoryItemWieldingEvaluator">
                                                        <property name="wieldingType" value="SECONDARY" /><!--use enums here for wielding type-->
                                                    </bean>
                                                </property>
                                            </bean>
                                        </list>
                                    </property>
                                </bean>
                            </property>
                        </bean>
                    </list>
                </property>
            </bean>
        </property>
    </bean>
    
</beans>