<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fighter" class="org.asciicerebrum.mydndgame.CharacterClass">
        <property name="id" value="fighter" />
        <property name="hitDice" ref="d10" />
        <property name="classLevels">
            <list>
                <bean class="org.asciicerebrum.mydndgame.ClassLevel">
                    <property name="level" value="1" />
                    <property name="characterClass" ref="fighter" />
                    <property name="baseAtkBoni">
                        <list>
                            <bean class="org.asciicerebrum.mydndgame.Bonus">
                                <property name="bonusType" ref="baseAttackBonus" />
                                <property name="target" ref="attack" />
                                <property name="value" value="1" />
                                <property name="rank" value="0" />
                            </bean>
                        </list>
                    </property>
                </bean>
                <bean class="org.asciicerebrum.mydndgame.ClassLevel">
                    <property name="level" value="2" />
                    <property name="characterClass" ref="fighter" />
                    <property name="baseAtkBoni">
                        <list>
                            <bean class="org.asciicerebrum.mydndgame.Bonus">
                                <property name="bonusType" ref="baseAttackBonus" />
                                <property name="target" ref="attack" />
                                <property name="value" value="2" />
                                <property name="rank" value="0" />
                            </bean>
                        </list>
                    </property>
                </bean>
            </list>
        </property>
    </bean>
    
</beans>
