<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="dndCharacter" class="org.asciicerebrum.mydndgame.DndCharacter" scope="prototype">
        <property name="bonusService" ref="bonusCalculationService" />
        <property name="observableDelegate" ref="observableDelegate" />
        <property name="hp" ref="hp" />
        <property name="acAction" ref="ac" />
        <property name="attackAction" ref="attack" />
        <property name="meleeAttackAction" ref="meleeAttack" />
        <property name="meleeAttackMode" ref="meleeWeapon" />
        <property name="rangedAttackAction" ref="rangedAttack" />
        <property name="rangedAttackMode" ref="rangedWeapon" />
        <property name="baseAttackBonus" ref="baseAttackBonus" />
        <property name="baseAtkBoni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="baseAttackBonus" />
                    <property name="target" ref="attack" />
                    <property name="rank" value="0" />
                    <property name="dynamicValueProvider" ref="rank0AtkBonusValueProvider" />
                </bean>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="baseAttackBonus" />
                    <property name="target" ref="attack" />
                    <property name="rank" value="1" />
                    <property name="dynamicValueProvider" ref="rank1AtkBonusValueProvider" />
                </bean>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="baseAttackBonus" />
                    <property name="target" ref="attack" />
                    <property name="rank" value="2" />
                    <property name="dynamicValueProvider" ref="rank2AtkBonusValueProvider" />
                </bean>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="baseAttackBonus" />
                    <property name="target" ref="attack" />
                    <property name="rank" value="3" />
                    <property name="dynamicValueProvider" ref="rank3AtkBonusValueProvider" />
                </bean>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="baseAttackBonus" />
                    <property name="target" ref="attack" />
                    <property name="rank" value="4" />
                    <property name="dynamicValueProvider" ref="rank4AtkBonusValueProvider" />
                </bean>
            </list>
        </property>
        <property name="boni">
            <list>
                <ref bean="nonproficiencyPenaltyBonus" />
            </list>
        </property>
    </bean>
    
</beans>