<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="sizeBonus" class="org.asciicerebrum.mydndgame.BonusType">
        <property name="id" value="sizeBonus" />
    </bean>

    <bean id="baseAttackBonus" class="org.asciicerebrum.mydndgame.BonusType">
        <property name="id" value="baseAttackBonus" />
    </bean>            

    <bean id="dexBonus" class="org.asciicerebrum.mydndgame.BonusType">
        <property name="id" value="dexBonus" />
    </bean> 

    <bean id="strBonus" class="org.asciicerebrum.mydndgame.BonusType">
        <property name="id" value="strBonus" />
    </bean> 

    <bean id="conBonus" class="org.asciicerebrum.mydndgame.BonusType">
        <property name="id" value="conBonus" />
    </bean>

    <bean id="powerAttackBonus" class="org.asciicerebrum.mydndgame.BonusType">
        <property name="id" value="powerAttackBonus" />
    </bean>

</beans>
