<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="masterworkWeapon" class="org.asciicerebrum.mydndgame.WeaponSpecialAbility">
        <property name="id" value="masterworkWeapon" />
        <property name="boni">
            <list>
                <!-- Wielding it provides a +1 enhancement bonus on attack rolls. -->
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="enhancementBonus" />
                    <property name="value" value="1" />
                    <property name="target" ref="attack" />
                </bean>
            </list>
        </property>
        <property name="observers">
            <list>
                <!-- The masterwork quality adds 300 gp to the cost of a normal weapon. -->
                <bean class="org.asciicerebrum.mydndgame.observers.SimpleArithmeticObserver">
                    <property name="hook" value="PRICE" />
                    <property name="modValue" value="300" />
                    <property name="operation" value="ADDITION" />
                </bean>
            </list>
        </property>        
    </bean>

</beans>
