<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- body slot types -->
    <bean id="primaryHand" class="org.asciicerebrum.mydndgame.BodySlotType">
        <property name="id" value="primaryHand" />
    </bean>

    <bean id="secondaryHand" class="org.asciicerebrum.mydndgame.BodySlotType">
        <property name="id" value="secondaryHand" />
    </bean>
    
    <!-- races -->        
    <bean id="human" class="org.asciicerebrum.mydndgame.Race">
        <property name="id" value="human" />
        <property name="size" ref="medium" />
        <property name="providedBodySlotTypes">
            <list>
                <ref bean="primaryHand" />
                <ref bean="secondaryHand" />
            </list>
        </property>
    </bean>

    <bean id="dwarf" class="org.asciicerebrum.mydndgame.Race">
        <property name="id" value="dwarf" />
        <property name="size" ref="medium" />
        <property name="providedBodySlotTypes">
            <list>
                <ref bean="primaryHand" />
                <ref bean="secondaryHand" />
            </list>
        </property>
    </bean>
            
</beans>
