<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- armor categories -->
    <bean id="armor" class="org.asciicerebrum.mydndgame.ArmorCategory">
        <property name="id" value="armor" />
    </bean>
    <bean id="shield" class="org.asciicerebrum.mydndgame.ArmorCategory">
        <property name="id" value="shield" />
    </bean>
    <bean id="extra" class="org.asciicerebrum.mydndgame.ArmorCategory">
        <property name="id" value="extra" />
    </bean>
    
    <!-- armor/shield proficiencies -->
    <bean id="lightArmor" class="org.asciicerebrum.mydndgame.Proficiency">
        <property name="id" value="lightArmor" />
    </bean>
    <bean id="mediumArmor" class="org.asciicerebrum.mydndgame.Proficiency">
        <property name="id" value="mediumArmor" />
    </bean>
    <bean id="heavyArmor" class="org.asciicerebrum.mydndgame.Proficiency">
        <property name="id" value="heavyArmor" />
    </bean>
    <bean id="lightShieldArmor" class="org.asciicerebrum.mydndgame.Proficiency">
        <property name="id" value="lightShieldArmor" />
    </bean>
    <bean id="heavyShieldArmor" class="org.asciicerebrum.mydndgame.Proficiency">
        <property name="id" value="heavyShieldArmor" />
    </bean>
    <bean id="towerShieldArmor" class="org.asciicerebrum.mydndgame.Proficiency">
        <property name="id" value="towerShieldArmor" />
    </bean>
    
    <!-- armor prototypes -->
    <bean id="abstractArmor" class="org.asciicerebrum.mydndgame.InventoryItem" scope="prototype" abstract="true">
        <property name="observableDelegate" ref="observableDelegate" />
    </bean>
    
    <bean id="studdedLeather" class="org.asciicerebrum.mydndgame.Armor" scope="prototype"
          parent="abstractArmor">
        <property name="name" value="studdedLeather" />
        <property name="armorCategory" ref="armor" />
        <property name="proficiency" ref="lightArmor" />
        <property name="baseCost" value="25" />
        <property name="maxDexBonus" value="5" />
        <property name="armorCheckPenalty" value="-1" />
        <property name="arcaneSpellFailure" value="15" />
        <property name="weight" value="20" />
        <property name="designatedBodySlots">
            <list>
                <ref bean="torso" />
            </list>
        </property>
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="armorBonus" />
                    <property name="target" ref="acBase" />
                    <property name="value" value="3" />
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="chainmail" class="org.asciicerebrum.mydndgame.Armor" scope="prototype"
          parent="abstractArmor">
        <property name="name" value="chainmail" />
        <property name="armorCategory" ref="armor" />
        <property name="proficiency" ref="mediumArmor" />
        <property name="baseCost" value="150" />
        <property name="maxDexBonus" value="2" />
        <property name="armorCheckPenalty" value="-5" />
        <property name="arcaneSpellFailure" value="30" />
        <property name="weight" value="40" />
        <property name="designatedBodySlots">
            <list>
                <ref bean="torso" />
            </list>
        </property>
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="armorBonus" />
                    <property name="target" ref="acBase" />
                    <property name="value" value="5" />
                </bean>
            </list>
        </property>
    </bean>

    <bean id="halfPlate" class="org.asciicerebrum.mydndgame.Armor" scope="prototype"
          parent="abstractArmor">
        <property name="name" value="halfPlate" />
        <property name="armorCategory" ref="armor" />
        <property name="proficiency" ref="heavyArmor" />
        <property name="baseCost" value="600" />
        <property name="maxDexBonus" value="0" />
        <property name="armorCheckPenalty" value="-7" />
        <property name="arcaneSpellFailure" value="40" />
        <property name="weight" value="50" />
        <property name="designatedBodySlots">
            <list>
                <ref bean="torso" />
            </list>
        </property>
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="armorBonus" />
                    <property name="target" ref="acBase" />
                    <property name="value" value="7" />
                </bean>
            </list>
        </property>
    </bean>
        
    <bean id="lightWoodenShield" class="org.asciicerebrum.mydndgame.Armor" scope="prototype"
          parent="abstractArmor">
        <property name="name" value="lightWoodenShield" />
        <property name="armorCategory" ref="shield" />
        <property name="proficiency" ref="lightShieldArmor" />
        <property name="baseCost" value="3" />
        <property name="armorCheckPenalty" value="-1" />
        <property name="arcaneSpellFailure" value="5" />
        <property name="weight" value="5" />
        <property name="designatedBodySlots">
            <list>
                <ref bean="primaryHand" />
                <ref bean="secondaryHand" />
            </list>
        </property>
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="shieldBonus" />
                    <property name="target" ref="acBase" />
                    <property name="value" value="1" />
                </bean>
            </list>
        </property>
    </bean>
    
    <bean id="heavySteelShield" class="org.asciicerebrum.mydndgame.Armor" scope="prototype"
          parent="abstractArmor">
        <property name="name" value="heavySteelShield" />
        <property name="armorCategory" ref="shield" />
        <property name="proficiency" ref="heavyShieldArmor" />
        <property name="baseCost" value="20" />
        <property name="armorCheckPenalty" value="-2" />
        <property name="arcaneSpellFailure" value="15" />
        <property name="weight" value="15" />
        <property name="designatedBodySlots">
            <list>
                <ref bean="primaryHand" />
                <ref bean="secondaryHand" />
            </list>
        </property>
        <property name="boni">
            <list>
                <bean class="org.asciicerebrum.mydndgame.Bonus">
                    <property name="bonusType" ref="shieldBonus" />
                    <property name="target" ref="acBase" />
                    <property name="value" value="2" />
                </bean>
            </list>
        </property>
    </bean>
        
</beans>
